body {
    background-color: wheat ;
    text-align: center;
}

h1{
    font-size: 1em;
}

.txt-blue{
    color: cadetblue;
}

strong{
    font-weight: normal;
}

.txt-rouge{
    color: red;
    font-family: "Blackadder ITC";
}
td {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border-collapse: collapse;
}
table {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border-collapse: collapse;
}
tr {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}